name: Java CI with Gradle

on:
  push:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'

    - name: Build with Gradle
      run: ./gradlew build

    - name: Run Spring Boot Application
      run: ./gradlew bootRun --no-daemon
